/*iPhone Styles*/
@media screen and (max-width : 480px){ 
	.container{
		width: 100%;
	}
	.mobile-hide{
		display: none;
	}

	.header{
		background: url('/img/hero-mobile.jpg') no-repeat;
		background-size: cover;
	}
	.statement{
		font-size: 26px;
		width: 540px;
	}
	.section h4{
		display: inline-block;
		vertical-align: top;
		margin-top: 20px;
		font-size: 2em;
	}
	.section-align{
		margin-left: 240px;
	}
	.section-align p{
		font-size: 26px;
	}
	.section-align ul{
		font-size: 24px;
	}
	.mobile-show{
		display: inline;
	}
	.font-styling{
		font-size: 24px;
	}
	.push-right{
		margin-left: 30px;
	}
	.divider-mobile{
		margin-left: 100px;
		margin-top: 20px;
	}
	.services-list{
		font-size: 20px;
	}
}