 @font-face {
 	font-family:"KavalerKursive";src:url("/fonts/Kavaler_Kursive/Kavaler_Kursive.eot?") 
 	format("eot"),url("/fonts/Kavaler_Kursive/Kavaler_Kursive.woff") 
 	format("woff"),url("/fonts/Kavaler_Kursive/Kavaler_Kursive.ttf") 
 	format("truetype"),url("/fonts/Kavaler_Kursive/Kavaler_Kursive.svg#KavalerKursive") 
 	format("svg");font-weight:normal;font-style:normal;
 }
/*Basic reset*/
html body{
	margin: 0;
	padding: 0;
}
/*Global Styles*/
ul li{list-style-type: none;}
footer{text-align: center;}
h4{
	font-size: 12px;
	color: #004d72;
	font-family: 'arial';
	font-weight: bold;
}
.caps{text-transform: uppercase;}
.container{
	max-width: 1100px;
	margin: 0 auto;
}
/*Header Styles*/
.header{
	max-width: 100%;
	height: 445px;
	background: url('/img/hero.jpg');

}
.logo-wrapper{
	width: 200px;
	height: 150px;
	margin-left: 40px;
	margin-top: 20px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
	font-weight: bold;
	font-family: 'arial';
}
.logo-phone{
	margin: 0;
	color: #024e70;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	font-family: 'arial';
}
.logo-callout{
	margin: 0;
	color: #024e70;
	font-size: 12px;
	text-align: center;
}
.contact-info{text-align: center;}
.contact-info p{margin: 0;}
.header-statement{
	width: 300px;	
	display: inline-block;
	margin-left: 70px;
	text-transform: uppercase;
	text-align: center;
}

/*Sidebar Styles*/
.side-content{
	float: left;
	width: 150px;
	font-size: 10px;
	margin-left: 40px;
	color: #024e70;
	font-family: 'arial';
	font-weight: bold;
	font-size: 10px;
}
.side-content ul{
	text-align: center;
	padding: 0;
	line-height: 20px;
}
/*Section Styles*/
.section{
	margin-left: 40px;
	margin-top: 60px;
	display: inline-block;
	vertical-align: top;
}
.section h4{
	display: inline-block;
	vertical-align: top;
	margin-right: 90px;
}
.section-content{
	display: inline-block;
}
.statement{
	font-size: 18px;
	font-family: 'arial';
	font-weight: bold;
	width: 410px;
	display: inline-block;
}
.section-content ul{padding: 0;}
.push-right{margin-left: 230px;}
.spacing{margin-left: 10px;}
.services{
	color: #004d72;
	font-size: 12px;
	font-family: 'arial';
	margin-left: 40px;
}
.font-styling{
	color: #004d72;
	font-size: 12px;
	font-family: 'arial';
}
.services-list{
	font-size: 12px;
	font-family: 'arial';
}
.testimonials{
	font-size: 12px;
	font-family: 'arial';
}
.testimonials p {
	width: 470px;
	padding-bottom: 20px;
}
.testimonials h4{
	margin-right: 50px;
}
.cursive-contact{
	font-family: 'KavalerKursive', 'Brush Script MT', cursive;;
	font-size: 24px;
	color: #004d72;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 0;
}
.section-align{
	margin-left: 90px;
}
.main-content-wrapper{
	margin-left: 40px;
}
/*Footer Styles*/
.email-wrapper{
	width: 190px;
	margin: 0 auto;
	position: relative;
	top:85px;
	right: 50px;
	font-family: 'arial';
	font-size: 18px;
	font-weight: bold;
}
.email-wrapper a{
	text-decoration: none;
	color: #b3ecff;
	letter-spacing: 3px;
}
.email-wrapper a:hover{
	text-decoration: underline;
}
.footer{
	position: relative;
	bottom: 20px;
}